@model Citatnik.ViewModels.HomeModel
@{
    //ViewData["Title"] = "Список цитат";
}

<p><a asp-action="Create" asp-controller="Home">Добавить цитату</a></p>
<table class="table">
    <thead>
        <tr><th>Заголовок</th><th>Контент</th><th>Дата создания</th></tr>
    </thead>
    <tbody>
        @foreach (var citata in Model.Citatas)
        {
            <tr><td>@citata.Title</td><td>@citata.Content</td><td>@citata.CreationDate</td></tr>
        }
    </tbody>
</table>
